:root{
  --header-gradient: linear-gradient(90deg, #676a6f, #6e7193, #79c3e6);
}

header{
  background: var(--header-gradient);
  margin: 0;
  padding: 2.5em;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
}
.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.home{
  font-size: 1em;
}

.navigation{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-right: 2em;
}

.burger {
  color: var(--text-color);
  display: none;
  background: none;
  border: none;
  font-size: 5em;
  cursor: pointer;
}
@media (max-width: 768px) {

  header{
    width: 85%;
  }
  .burger {
    display: block;
  }

  .navigation {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background: steelblue;
    flex-direction: column;
    width: 15em;
    height: 11em;
    padding: 1em 1em;
    margin-right: 5em;
    gap: 1em;
    text-align: center;
  }

  .navigation.open {
    display: flex;
  }
  .standard-text{
    font-size: 3em;
  }
}
