.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10em;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: -1;
}

.banner-text{
  padding-right: 10em;
}

p{
  text-align: justify;
}
