.content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10em;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: -1;
}

.banner-text{
  padding-right: 10em;
}

p{
  text-align: justify;
}

@media (max-width: 768px) {
  .picture{
    width: 256px;
    height: 256px;
  }
  .content{
    margin: 12em 5em 5em 5em;
  }
  .banner-text{
    padding-right: 5em;
  }
}
