<div class="project-container">
  <div class="project-content">
    <h2>
      {{ projectName }}
    </h2>
    <div class="project-values">
      @switch (contentType){
        @case ('video'){
          @if (square==="true"){
            <video class="item square" [src]="src" controls height="360"></video>
          }
          @else {
            <video class="item" [src]="src" controls height="360"></video>
          }
        }
        @case ('img'){
          <img class="item" [src]="src" [alt]="src">
        }
        @case ('ytb'){
          <div class="video-wrapper item">
            <iframe [src]="srcUrl" frameborder=0></iframe>
          </div>
        }
      }
      <p class="item text-block">
        {{firstParagraph}}
        @if (secondParagraph){
          <br>
          <br>
          {{secondParagraph}}
        }
        @if (linkToProject) {
          <br>
          <br>
          <a class="standard-text" [href]="linkToProject" target="_blank">En savoir plus</a>
        }
      </p>
      <div class="item icons-container">
        @for (icon of iconsUrl; track $index){
          <div class="icon-wrapper">
            <img class="project-icon" [src]="getIconInfos($index)[0]" [alt]="icon" height="100" width="100" />
            <span class="tooltip standard-text">{{getIconInfos($index)[1]}}</span>
          </div>
        }
      </div>
    </div>
  </div>
</div>
