.project-container{
  border-top: 2px var(--text-color) solid;
  width: 100vw;
  background: var(--project-gradient);
  background-size: cover;
}

.project-content{
  padding: 5em 10em;
}
.project-values{
  display: flex;
  flex-direction: row;
}
.item{
  padding-right: 3em;
}
.icons-container{
  display: flex;
  flex-direction: column;
}

.project-icon{
  object-fit: contain;
  margin-bottom: 1.2em;
  transform :scale(1);
  transition: transform 0.1s ease-in-out;
}
.project-icon:hover{
  transform: scale(1.1);
  transition: transform 0.1s ease-in-out;
}
.tooltip {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  padding: 4px 8px;
  border-radius: 4px;
  position: relative;
  left: 50%;
  bottom: 100%;
  white-space: nowrap;
  z-index: 11;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.2s;
}

.icon-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
