:root {
  --text-color: white;
  --text-hovered: orange;
  --text-active: chocolate;

  --background-gradient: linear-gradient(90deg, #01070f, #0e124b, #1f9bd5) no-repeat;
  --scrollbar-bg-color: white;

  --bottom-point : 0;
  --project-gradient: linear-gradient(90deg, #213759, #2c4777, #26ceec) no-repeat;
}

html{
  scrollbar-color: var(--text-color) var(--scrollbar-bg-color);
}

body{
  margin: 0;
  background: var(--background-gradient);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6{
  font-family: Blinker, sans-serif;
  font-weight: 650;
  color: var(--text-color);
}
h1{
  font-size: 4em;
  border-bottom: 3px var(--text-color) solid;
}
h2{
  font-size: 3em;
  font-weight: 600;
}
a{
  display: inline-block;
  font-weight: normal;
  text-decoration: none;
  transform :scale(1);
  transition: transform 0.1s ease-in-out;
}
a:hover{
  color: orange;
  transform :scale(1.2);
  transition: transform 0.1s ease-in-out;
}
a:active{
  color: chocolate;
}
p, .standard-text{
  font-family: Rubik, sans-serif;
  color: var(--text-color);
  font-size: 1.5em;
  text-align: justify;
}
